---
import BaseHead from "../components/BaseHead.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import Contact from "../components/Contact.astro";
import ToolMarquee from "../components/ToolMarquee.astro";
import PageLoader from "../components/PageLoader.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <script>
      import { shuffle } from "lodash";
      import { spring, timeline, type TimelineSegment } from "motion";

      addEventListener("load", () => {
        timeline([
          ["#page-loader", { opacity: 0 }, { duration: 0.75, delay: 0.5 }],
          ["#page-loader", { display: "none" }],
          [
            "#worldmap",
            { opacity: [0, 1] },
            { duration: 0.75, at: "-.5", easing: "linear" },
          ],
          [
            "#content",
            { x: [-650, 0] },
            { at: "<", easing: spring({ mass: 2 }) },
          ],
          ["#title", { opacity: [0, 1] }, { duration: 0.75, at: "-2" }],
          ["#about", { opacity: [0, 1] }, { duration: 0.75, at: "-.5" }],
          [
            "#experience-title",
            { opacity: [0, 1] },
            { duration: 0.75, at: "-.5" },
          ],
          ...shuffle(document.querySelectorAll(".tool-chip")).map(
            (element, index) =>
              [
                element,
                { opacity: [0, 1], scale: [0.75, 1] },
                {
                  duration: 0.5,
                  at: index ? "<" : "-1",
                  delay: index * 0.05,
                },
              ] as TimelineSegment
          ),
          [
            "#contact-container",
            { y: [300, 0] },
            { easing: spring(), at: "-1" },
          ],
        ]);

        const WAVE_TIMES = [20000, 35000, 10000, 15000, 40000];

        const wave = () => {
          // If the animation is already running, don't start it again
          if (!window.waveTimeoutRef) {
            // Start the animation
            document.getElementById("wave-emoji")?.classList.add("wave");

            // Clear the animation class after 2 seconds
            window.waveTimeoutRef = setTimeout(() => {
              document.getElementById("wave-emoji")?.classList.remove("wave");
              window.waveTimeoutRef = null;
            }, 2000);
          }

          const nextWave = shuffle(WAVE_TIMES)[0];

          setTimeout(wave, nextWave);
        };

        setTimeout(() => {
          wave();
        }, 3000);
      });
    </script>
  </head>
  <body>
    <PageLoader />
    <div class="flex gap-8 min-h-screen overflow-clip">
      <div
        id="content"
        class="w-full md:w-[650px] p-8 md:p-16 flex md:shadow-xl z-50 bg-brand-sand-light"
        style="clip-path: inset(0px -30px 0px 0px);"
      >
        <div
          class="flex flex-col justify-between gap-16 w-full pb-[153px] md:pb-0"
        >
          <div class="flex flex-col gap-8">
            <h1 id="title" class="text-5xl font-light md:mb-6">Juan Abbona</h1>

            <p id="about" class="text-base">
              I’m Juan, a software engineer with a passion for design based in
              Montevideo, Uruguay.
              <br />
              <br />
              I’ve been building beautiful web applications that scale for over seven
              years. My main focus is on frontend web development using React and
              TypeScript although I also have plenty of experience on backend development
              using Python and Django.
            </p>
            <div class="w-[240px] -z-10 md:hidden">
              <div
                class="relative w-[520px] mt-[-175px] md:mt-[-56%] md:ml-[-40px]"
              >
                <div
                  class="absolute top-0 right-0 bottom-0 left-0 bg-gradient-to-br from-brand-sand-light from-25% via-50% via-transparent md:hidden"
                >
                </div>
                <img src="/worldmap.svg" alt="Uruguay in the world map" />
              </div>
            </div>
            <h3 id="experience-title" class="text-base">
              I’m experienced working with
            </h3>
            <ToolMarquee />
          </div>
          <div
            id="contact-container"
            class="fixed md:relative left-0 right-0 -bottom-8 p-8 pb-16 md:p-0 md:pb-0 shadow-xl md:shadow-none bg-brand-sand-light"
          >
            <Contact />
          </div>
        </div>
      </div>
      <div id="worldmap" class="flex flex-1 items-center justify-end py-8">
        <img
          src="/worldmap-lg.svg"
          alt="Uruguay in the world map"
          class="w-full h-full -mt-28 object-cover object-left-bottom"
        />
      </div>
    </div>
  </body>
</html>
