---
import BaseHead from "../components/BaseHead.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import Contact from "../components/Contact.astro";
import Tools from "../components/Tools.astro";
import PageLoader from "../components/PageLoader.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <script>
      import { pageLoadAnimation } from "../utils/animations";

      addEventListener("load", () => {
        pageLoadAnimation();
      });
    </script>
  </head>
  <body
    class="bg-brand-sand-light md:bg-gradient-to-br md:from-brand-orange-light md:to-brand-sand-dark"
  >
    <PageLoader />
    <div
      class="flex items-stretch 2xl:items-center md:h-auto md:min-h-screen overflow-clip p-0 md:p-8 xl:p-12 2xl:px-56"
    >
      <div
        id="content"
        class="flex w-full md:w-[650px] p-8 md:p-16 pb-36 md:pb-16 2xl:max-h-[950px] z-50 shadow-xl bg-brand-sand-light rounded-none md:rounded-2xl overflow-clip"
      >
        <div class="flex flex-col justify-between gap-16 w-full">
          <div class="flex flex-col gap-4 md:gap-8">
            <h1 id="title" class="text-3xl md:text-5xl font-light md:mb-6">
              Juan Abbona
            </h1>

            <p id="about" class="text-sm md:text-base">
              Hi there! I'm Juan, a software engineer based in Montevideo,
              Uruguay.
              <br />
              <br />I've been building web applications for the past 7 years,
              mostly doing frontend work using React and TypeScript but also
              dabbling in the world of backend with Python and Django.
              <br />
              <br />I'm also a UI/UX design enthusiast, I love to create
              beautiful and functional interfaces.
            </p>
            <div
              id="worldmap"
              class="relative w-[522px] h-[342px] mt-[-230px] md:mt-[-230px] md:ml-[200px] -mb-3 md:-mb-6 -z-10"
            >
              <div
                class="absolute top-0 right-0 bottom-0 left-0 bg-gradient-to-br from-brand-sand-light from-30% via-60% via-transparent"
              >
              </div>
              <img src="/worldmap.svg" alt="Uruguay in the world map" />
            </div>
            <h3 id="experience-title" class="text-sm md:text-base">
              I’m experienced working with
            </h3>
            <Tools />
          </div>
          <Contact />
        </div>
      </div>
    </div>
  </body>
</html>
