---
import Sidebar from "./Sidebar.astro";
import Header from "./Header.astro";
---

<div class="flex min-h-screen">
  <Header />
  <Sidebar />
  <div
    id="content"
    class="flex flex-col items-center flex-1 mt-[58px] lg:mt-0 lg:ml-[500px]"
  >
    <slot />
  </div>
</div>
