---
import MenuLink from "./MenuLink.astro";
---

<div class="flex flex-col gap-2 items-start -ml-6">
  <MenuLink href="#about">About</MenuLink>
  <MenuLink href="#experience">Experience</MenuLink>
  <MenuLink href="#blog">Blog</MenuLink>
</div>
