<div
  id="page-loader"
  class="fixed top-0 right-0 bottom-0 left-0 bg-brand-sand-light md:bg-gradient-to-br md:from-brand-orange-light md:to-brand-sand-dark z-[999] flex items-center justify-center"
>
  <div
    class="border-4 border-brand-sand border-b-transparent border-l-transparent rounded-full w-[40px] h-[40px] animate-spin"
  >
  </div>
</div>
