---
import Menu from "./Menu.astro";
import Contact from "./Contact.astro";
---

<div
  class="hidden sm:flex flex-col justify-between w-[500px] py-24 px-14 fixed top-0 left-0 bottom-0 border-r bg-sand border-sand-dark"
>
  <div>
    <h1 class="text-5xl font-light mb-24">Juan Abbona</h1>
    <Menu />
  </div>
  <Contact />
</div>
