---
import Menu from "./Menu.astro";
import Contact from "./Contact.astro";
---

<div
  id="menu"
  class="hidden lg:flex flex-col justify-between w-[500px] px-6 pl-[64px] py-8 pt-[82px] lg:py-24 lg:px-14 fixed top-0 left-0 bottom-0 lg:border-r border-sand-dark"
>
  <div>
    <h1 class="hidden lg:flex text-5xl font-light mb-24">Juan Abbona</h1>
    <Menu />
  </div>
  <Contact />
</div>
