---
const { tool } = Astro.props;

const TOOLS = [
  {
    name: "Django",
    url: "https://www.djangoproject.com/",
    color: "#93ecc9",
    icon: "/icons/django.svg",
  },
  {
    name: "Docker",
    url: "https://www.docker.com/",
    color: "#bbd0f9",
    icon: "/icons/docker.svg",
  },
  {
    name: "Git",
    url: "https://git-scm.com/",
    color: "#fac4c0",
    icon: "/icons/git.svg",
  },
  {
    name: "JavaScript",
    url: "https://developer.mozilla.org/en-US/docs/Web/JavaScript",
    color: "#fbef8e",
    icon: "/icons/javascript.svg",
  },
  {
    name: "Material UI",
    url: "https://material-ui.com/",
    color: "#b2d8ff",
    icon: "/icons/material-ui.svg",
  },
  {
    name: "Next.js",
    url: "https://nextjs.org/",
    color: "#cccccc",
    icon: "/icons/next-js.svg",
  },
  {
    name: "Nx",
    url: "https://nx.dev/",
    color: "#afbbd9",
    icon: "/icons/nx.svg",
  },
  {
    name: "PostgreSQL",
    url: "https://www.postgresql.org/",
    color: "#b9d2e6",
    icon: "/icons/postgresql.svg",
  },
  {
    name: "Python",
    url: "https://www.python.org/",
    color: "#b8d2e8",
    icon: "/icons/python.svg",
  },
  {
    name: "React Native",
    url: "https://reactnative.dev/",
    color: "#cbced8",
    icon: "/icons/react-native.svg",
  },
  {
    name: "React",
    url: "https://reactjs.org/",
    color: "#beecfb",
    icon: "/icons/react.svg",
  },
  {
    name: "Storybook",
    url: "https://storybook.js.org/",
    color: "#fec7da",
    icon: "/icons/storybook.svg",
  },
  {
    name: "Tailwind CSS",
    url: "https://tailwindcss.com/",
    color: "#c3ebfc",
    icon: "/icons/tailwind-css.svg",
  },
  {
    name: "TanStack Query",
    url: "https://tanstack.com/query",
    color: "#ffc5cb",
    icon: "/icons/tanstack-query.svg",
  },
  {
    name: "TypeScript",
    url: "https://www.typescriptlang.org/",
    color: "#b9d2e6",
    icon: "/icons/typescript.svg",
  },
];

const { url, color, icon } =
  TOOLS.find(({ name }) => name === (tool as string)) || {};
---

<a
  href={url}
  target="_blank"
  class="flex items-center rounded-full text-sm font-light gap-2 text-black p-1 pr-3"
  style={`background-color: ${color}`}
>
  <div
    class="w-[20px] h-[20px] rounded-full"
    style={`background: url('${icon}') no-repeat center;`}
  >
  </div>
  {tool}
</a>
