---
import kebabCase from "lodash/kebabCase";

const { tool } = Astro.props;

const toolClass = kebabCase(tool.toLowerCase());
---

<a href="#" class:list={["tool-chip", toolClass]}>
  <div
    class="icon"
    style={`background: url('/icons/${toolClass}.svg') no-repeat center;`}
  >
  </div>
  {tool}
</a>

<style>
  .tool-chip {
    @apply flex items-center bg-blue-100 rounded-full text-sm font-light;

    gap: 7px;
    color: #000;
    padding: 5px;
    padding-right: 12px;
  }

  .tool-chip .icon {
    @apply rounded-full;

    width: 20px;
    height: 20px;
  }

  .tool-chip.django {
    background-color: #93ecc9;
  }

  .tool-chip.docker {
    background-color: #bbd0f9;
  }

  .tool-chip.git {
    background-color: #fac4c0;
  }

  .tool-chip.javascript {
    background-color: #fbef8e;
  }

  .tool-chip.material-ui {
    background-color: #b2d8ff;
  }

  .tool-chip.next-js {
    background-color: #cccccc;
  }

  .tool-chip.nx {
    background-color: #afbbd9;
  }

  .tool-chip.postgresql {
    background-color: #b9d2e6;
  }

  .tool-chip.python {
    background-color: #b8d2e8;
  }

  .tool-chip.react-native {
    background-color: #cbced8;
  }

  .tool-chip.react {
    background-color: #beecfb;
  }

  .tool-chip.storybook {
    background-color: #fec7da;
  }

  .tool-chip.tailwind-css {
    background-color: #c3ebfc;
  }

  .tool-chip.tanstack-query {
    background-color: #ffc5cb;
  }

  .tool-chip.typescript {
    background-color: #dcedff;
  }
</style>
