---
import ToolChip from "./ToolChip.astro";
---

<div
  id="tool-marquee"
  class="flex flex-wrap justify-center gap-3 md:gap-4 -mx-4 md:-mx-4 overflow-hidden"
>
  <ToolChip tool="React" />
  <ToolChip tool="React Native" />
  <ToolChip tool="TypeScript" />
  <ToolChip tool="JavaScript" />
  <ToolChip tool="Material UI" />
  <ToolChip tool="Next.js" />
  <ToolChip tool="TanStack Query" />
  <ToolChip tool="Tailwind CSS" />
  <ToolChip tool="Nx" />
  <ToolChip tool="Storybook" />
  <ToolChip tool="Git" />
  <ToolChip tool="Docker" />
  <ToolChip tool="Python" />
  <ToolChip tool="Django" />
  <ToolChip tool="PostgreSQL" />
</div>
